body {
  margin: 0;
  background: rgb(255,249,181);
background: linear-gradient(0deg, rgba(255,249,181,1) 0%, rgba(255,255,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
